@media (max-width: 1199px) {
    .header {
        &__menu {
            margin: 0 35px 0 35px;
            &-item {
                &:after {
                    margin-left: 7px;
                    height: 18px;
                    margin-top: 6px;
                }
            }
            a {
                font-size: 13px;
            }
        }
        &__phone-block {
            width: 150px;
        }
    }
}