.advantages-2 {
    min-height: 619px;
    padding: 51px 0 57px;
    &__subtitle {
        position: relative;
        font-family: Roboto;
        width: 880px;
        font-size: 21px;
        line-height: 24px;
        font-weight: 300;
        color: #2e2e2e;
        text-align: center;
        display: block;
        margin: 38px auto;
        &:before {
            position: absolute;
            content: "";
            display: block;
            width: 148px;
            height: 1px;
            background: $main-color;
            top: -19px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    img {
        margin-bottom: 28px;
    }
    &__descr {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
        text-align: center;
    }
}