.promo {
    min-height: 680px;
    padding: 23px 0 82px;
    background: url('../img/back/back_top.png') center (center / cover) no-repeat;
    &__title-1 {
        margin-top: 26px;
        margin-bottom: 0;
        font-family: RobotoCondensed;
        font-size: 72px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
        color: #ec644b;
        text-align: center;
    }
    &__title-2 {
        margin-top: 9px;    
        margin-bottom: 0;
        font-family: RobotoCondensed;
        font-size: 42px;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
    }
    &__title-3 {
        margin-bottom: 0;
        margin-top: 9px;
        font-family: Roboto;
        font-size: 24px;
        line-height: 1;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
    }
    &__divider {
        position: relative;
        display: block;
        margin: 0 auto;
        margin-top: 38px;
        width: 809px;
        height: 10px;
        overflow: hidden;
        span {
            content: "";
            display: block;
            margin: 0 auto;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background: #fff;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 0px;
                width: 48%;
                height: 1px;
                background: #fff;
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                right: 0px;
                width: 390px;
                height: 1px;
                background: #fff;
            }
        }
    }
    &__wrapper {
        margin-top: 27px;
        margin-bottom: 39px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        width: 260px;
        height: 139px;
    }
    &__image {
        display: block;
        margin: 0 auto;
        &-wrapper {
            height: 67px;
        }
    }
    &__descr {
        font-family: Roboto;
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
    }
}